---
name: Hub Testnet Transaction Tests
on:
  workflow_dispatch:
  schedule:
    # At 16:00 on Monday.
    - cron: '0 16 * * 1'
  # push:

jobs:
  test-transactions:
    runs-on: ubuntu-24.04
    env:
      # PION_CLIENT_ID: 07-tendermint-28
      # PION_CONNECTION_ID: connection-19
      # PION_CHANNEL_ID: channel-32
      # PION_APPLE_ADDR: neutron1arjwkww79m65csulawqngr7ngs4uqu5hz655s6
      APPLE_VALOPER: cosmosvaloper1arjwkww79m65csulawqngr7ngs4uqu5hr3frxw
      APPLE_ADDR: cosmos1arjwkww79m65csulawqngr7ngs4uqu5hx9ak2a
      BANANA_ADDR: cosmos1apac0g5s88pfjvlgjqjnr0kdpkpmhx8pkdp0r5
      CHERRY_ADDR: cosmos1e5yfpc8l6g4808fclmlyd38tjgxuwshn7xzkvf
      FAUCET_ADDR: cosmos19mkwu6ne284ufqgdqnv4k6cp0qqy9x0742p3d2
      WASM_CONTRACT: cosmos14hj2tavq8fpesdwxxcu44rty3hh90vhujrvcmstl4zr3txmfvw9s4hmalr
      RPC_NODE: rpc.provider-sentry-01.hub-testnet.polypore.xyz
      RPC_PORT: 26657
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Get current running gaiad version
        run: |
          RUNNING_VERSION=$(curl -s https://$RPC_NODE/abci_info | jq -r '.result.response.version')
          echo "Running gaiad version: $RUNNING_VERSION"
          echo "RUNNING_VERSION=$RUNNING_VERSION" >> $GITHUB_ENV
      - name: Download binary from cosmos/gaia repo
        run: |
          sudo wget -nv https://github.com/cosmos/gaia/releases/download/${{ env.RUNNING_VERSION }}/gaiad-${{ env.RUNNING_VERSION }}-linux-amd64 -O /usr/local/bin/gaiad
          sudo chmod +x /usr/local/bin/gaiad
          gaiad version
      - name: Configure gaiad
        run: |
          gaiad config set client chain-id provider
          gaiad config set client keyring-backend test
          gaiad config set client node "https://$RPC_NODE"
          gaiad config set app minimum-gas-prices "0.0025uatom"
      - name: Create test wallet
        run: gaiad keys add test-wallet
      - name: List all wallets
        run: |
          gaiad keys list
          wallet=$(gaiad keys list --output json | jq -r '.[] | select(.name == "test-wallet") | .address')
          echo "TEST_WALLET=$wallet" >> $GITHUB_ENV
      - name: Fund the wallet
        run: |
          json=$(curl "https://faucet.polypore.xyz/request?address=$TEST_WALLET&chain=provider" | jq -r '.')
          echo $json | jq -r '.'
          status=$(echo $json | jq -r '.status')
          if [ $status != "success" ]
          then
            echo "Failed to request finds from faucet"
            exit 1
          fi
          tests/test_block_production.sh $RPC_NODE $RPC_PORT 1
      - name: Query bank balances
        run: gaiad q bank balances $TEST_WALLET
      - name: Test bank send
        run: |
          json=$(gaiad tx bank send $TEST_WALLET $FAUCET_ADDR 1000000uatom --fees 10000uatom -y -o json)
          tests/test_block_production.sh $RPC_NODE $RPC_PORT 1
          echo "[INFO] JSON output:"
          echo $json
          txhash=$(echo $json | jq -r '.txhash')
          echo "[INFO] txhash: $txhash"
          tx_json=$(gaiad q tx $txhash -o json)
          echo "[INFO] TX results:"
          echo $tx_json | jq -r '.'
          code=$(echo $tx_json | jq -r '.code')
          echo "[INFO] Code: $code"
          if [ $code -ne 0 ]
          then
            echo "TX code is not 0"
            exit 1
          fi
      - name: Test bank multi-send
        run: |
          json=$(gaiad tx bank multi-send $TEST_WALLET $APPLE_ADDR $BANANA_ADDR $CHERRY_ADDR 1000000uatom --fees 10000uatom -y -o json)
          tests/test_block_production.sh $RPC_NODE $RPC_PORT 1
          echo "[INFO] JSON output:"
          echo $json
          txhash=$(echo $json | jq -r '.txhash')
          echo "[INFO] txhash: $txhash"
          tx_json=$(gaiad q tx $txhash -o json)
          echo "[INFO] TX results:"
          echo $tx_json | jq -r '.'
          code=$(echo $tx_json | jq -r '.code')
          echo "[INFO] Code: $code"
          if [ $code -ne 0 ]
          then
            echo "TX code is not 0"
            exit 1
          fi
      - name: Test bank multi-send to 100 addresses
        run: |
          addresses=$(gaiad q auth accounts -o json | jq -r '.accounts[].value.address' )
          json=$(gaiad tx bank multi-send $TEST_WALLET $addresses 1uatom --gas auto --gas-adjustment 3 --gas-prices 0.005uatom -y -o json)
          tests/test_block_production.sh $RPC_NODE $RPC_PORT 1
          echo "[INFO] JSON output:"
          echo $json
          txhash=$(echo $json | jq -r '.txhash')
          echo "[INFO] txhash: $txhash"
          tx_json=$(gaiad q tx $txhash -o json)
          echo "[INFO] TX results:"
          echo $tx_json | jq -r '.'
          code=$(echo $tx_json | jq -r '.code')
          echo "[INFO] Code: $code"
          if [ $code -ne 0 ]
          then
            echo "TX code is not 0"
            exit 1
          fi
      - name: Test WASM execute
        run: |
          json=$(gaiad tx wasm execute $WASM_CONTRACT '{"increment":{}}' --from test-wallet --gas auto --gas-adjustment 1.5 --gas-prices 0.005uatom -y -o json)
          tests/test_block_production.sh $RPC_NODE $RPC_PORT 1
          echo "[INFO] JSON output:"
          echo $json
          txhash=$(echo $json | jq -r '.txhash')
          echo "[INFO] txhash: $txhash"
          tx_json=$(gaiad q tx $txhash -o json)
          echo "[INFO] TX results:"
          echo $tx_json | jq -r '.'
          code=$(echo $tx_json | jq -r '.code')
          echo "[INFO] Code: $code"
          if [ $code -ne 0 ]
          then
            echo "TX code is not 0"
            exit 1
          fi
      # - name: Test IBC transfer
      #   run: |
      #     json=$(gaiad tx ibc-transfer transfer transfer $PION_CHANNEL_ID $PION_APPLE_ADDR 10000uatom --from $TEST_WALLET --fees 10000uatom -o json -y)
      #     tests/test_block_production.sh $RPC_NODE $RPC_PORT 1
      #     echo "[INFO] JSON output:"
      #     echo $json
      #     txhash=$(echo $json | jq -r '.txhash')
      #     echo "[INFO] txhash: $txhash"
      #     tx_json=$(gaiad q tx $txhash -o json)
      #     echo "[INFO] TX results:"
      #     echo $tx_json | jq -r '.'
      #     code=$(echo $tx_json | jq -r '.code')
      #     echo "[INFO] Code: $code"
      #     if [ $code -ne 0 ]
      #     then
      #       echo "TX code is not 0"
      #       exit 1
      #     fi
      - name: Delegate to Apple
        run: |
          json=$(gaiad tx staking delegate $APPLE_VALOPER 10000uatom --from $TEST_WALLET --gas auto --gas-adjustment 3 --gas-prices 0.005uatom -o json -y)
          tests/test_block_production.sh $RPC_NODE $RPC_PORT 1
          echo "[INFO] JSON output:"
          echo $json
          txhash=$(echo $json | jq -r '.txhash')
          echo "[INFO] txhash: $txhash"
          tx_json=$(gaiad q tx $txhash -o json)
          echo "[INFO] TX results:"
          echo $tx_json | jq -r '.'
          code=$(echo $tx_json | jq -r '.code')
          echo "[INFO] Code: $code"
          if [ $code -ne 0 ]
          then
            echo "TX code is not 0"
            exit 1
          fi
      - name: Unbond from Apple
        run: |
          json=$(gaiad tx staking unbond $APPLE_VALOPER 10000uatom --from $TEST_WALLET --gas auto --gas-adjustment 3 --gas-prices 0.005uatom -o json -y)
          tests/test_block_production.sh $RPC_NODE $RPC_PORT 1
          echo "[INFO] JSON output:"
          echo $json
          txhash=$(echo $json | jq -r '.txhash')
          echo "[INFO] txhash: $txhash"
          tx_json=$(gaiad q tx $txhash -o json)
          echo "[INFO] TX results:"
          echo $tx_json | jq -r '.'
          code=$(echo $tx_json | jq -r '.code')
          echo "[INFO] Code: $code"
          if [ $code -ne 0 ]
          then
            echo "TX code is not 0"
            exit 1
          fi
      - name: Refund leftover funds to faucet
        if: always()
        run: |
          json=$(gaiad q bank balances $TEST_WALLET -o json)
          echo $json | jq -r '.'
          amount=$(echo $json | jq -r ".balances[] | select(.denom==\"uatom\").amount")
          echo "[INFO] Amount is: $amount"
          let refund=$amount-10000
          echo "[INFO] Refund amount is: $refund"
          gaiad tx bank send $TEST_WALLET $FAUCET_ADDR ${refund}uatom --fees 10000uatom -y -o json | jq -r '.'
          tests/test_block_production.sh $RPC_NODE $RPC_PORT 1
          json=$(gaiad q bank balances $TEST_WALLET -o json)
          echo "[INFO] Current balances"
          echo $json | jq -r '.' 
